# yaml-language-server: $schema=https://aka.ms/winget-manifest.version.{{ manifest_version }}.schema.json
PackageIdentifier: {{ package_id }}
PackageVersion: "{{ version }}"
DefaultLocale: en-US
ManifestType: version
ManifestVersion: {{ manifest_version }}
